@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}

.eczar-regular {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eczar-medium {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.eczar-semibold {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish-regular {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kedebideri-regular {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kedebideri-medium {
  font-family: "Kedebideri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kedebideri-semibold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kedebideri-bold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kedebideri-extrabold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kedebideri-black {
  font-family: "Kedebideri", sans-serif;
  font-weight: 900;
  font-style: normal;
}
