@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}

.eczar-regular {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eczar-medium {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.eczar-semibold {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
