@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* @keyframes squeeze {
    0%, 100% { transform: scale(1) rotate(0deg); }
    25%      { transform: scale(0.9) rotate(-3deg); }
    50%      { transform: scale(1.05) rotate(3deg); }
    75%      { transform: scale(0.95) rotate(-2deg); }
  } */

  @keyframes vibrate {
    0%, 100% { transform: translateX(0); }
    20%      { transform: translateX(-2px); }
    40%      { transform: translateX(2px); }
    60%      { transform: translateX(-2px); }
    80%      { transform: translateX(2px); }
  }

  @keyframes lemon-bounce {
    0%, 100% { transform: translateY(0) scale(1); }
    50%      { transform: translateY(-2px) scale(1.03); }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(60deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }

  @keyframes squeeze {
        0%, 100% {
            transform: scale(1) rotate(0deg);
        }
        25% {
            transform: scale(0.9, 1.1) rotate(-5deg);
        }
        50% {
        transform: scale(1.1, 0.9) rotate(5deg);
        }
        75% {
        transform: scale(0.95, 1.05) rotate(-3deg);
        }
    }

@keyframes drop {
    0% {
    transform: translateY(0) scale(1);
    opacity: 0.8;
    }
    100% {
    transform: translateY(40px) scale(0.5);
    opacity: 0;
    }
}

@keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-lemon-bounce: lemon-bounce 0.9s ease-in-out infinite;
  /* --animate-squeeze: squeeze 0.6s ease-in-out infinite; */
  --animate-vibrate: vibrate 0.25s linear infinite;
  --animate-squeeze: squeeze 0.6s ease-in-out infinite;

  --animate-drop-1: drop 0.8s ease-in infinite 0s;
  --animate-drop-2: drop 0.8s ease-in infinite 0.2s;
  --animate-drop-3: drop 0.8s ease-in infinite 0.4s;
  --animate-typing: typing 2s steps(40, end) infinite;
}